<div class="back-section1">
    <div class="container-fluid max vert-pad">
        <div class="col-md-6" >
            <h1>Our Company</h1>
            <p>
                        Ricter Web printing is primarily a coldset web printer, however Ricter Web is far more than just web printing.
We have fantastic design talent in our design department, a five-colour sheetfed press, a well-equipped bindery department and a dedicated shipping company, <a href="http://www.cstlogistics.com/" target="_blank">CST Logistics</a>. Beyond our proverbial "four walls", we have numerous service providers that we partner with to bring you an even wider gamut of professional services.
                </p><p>
Back in 1975, Ricter Web Printing was founded as a local newspaper with in-house printing. As the years rolled on, the printing grew and eventually replaced the publishing. Today publishers can be assured that, with our roots firmly planted in their end of the business, we understand their needs, concerns and ideals.
                </p><p>
Ever since the beginning, Ricter Web has striven to be the best, to improve and stay ahead of the rest of the crowd; today our passion for excellence continues.
                </p>
        </div> 
        <div class="col-md-6" >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z9XmSlH_cjg" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>