<div class="back-section1">
    <div class="container-fluid max vert-pad">
        <div class="col-md-4" >
            <img <%= link_to image_tag('LightTable300px.jpg'), class: "img-responsive"%>
        </div>
        <div class="col-md-8" >
            <h1>Prepress</h1>
            <p>
                        These are the heroes that take your files process them and get them on press, working with some of the shortest turnaround times and highest standards in the industry.
</p><p>
Our prepress crew will work with you to make sure that your files are the best that they can be. With staff working from 8am to 2am, there is sure to be someone here to give you professional service and advice right when you need it.
</p><p>
We have proofing devices finger printed and matched to both our web presses and our sheetfed litho press.To supplement this we also offer soft proofing over the internet to help you meet the tight deadlines that we all have to work with, and to save you a few miles in your car.
</p><p>
Talk to a sales person to today for all your printing needs.
                </p>
        </div>    

    </div>
</div>