
<div class="back-section1">
    <div class="container-fluid max vert-pad">
        <div class="col-md-4" >
            <img <%= link_to image_tag('Design-pic-for-web-small.jpg'), class: "img-responsive"%>
        </div>
        <div class="col-md-8" >
            <h1>Graphic &amp; Publication Design</h1>
            <p>
                        Why go to an advertising agency to design your work when it can all be done in house here by our outstanding talent.
    All of our designers are experienced professionals and can make you a fantastic piece for a fraction of what it would cost you at a commercial agency.
    Ask your account representative for samples, or better yet give us a try, you will find our designers creative, efficient and courteous.
                </p>
        </div>    

    </div>
</div>
