<div class="back-section1">
    <div class="container-fluid max vert-pad">
        <div class="col-md-5" >
            <h1>Why E-Publishing?</h1>
            <p>
                        Consumers are looking for more ways to read, interact and sort through information. Our solution is a cost –effective product that will allow you to further build and strengthen consumer relationships.
The reality is that the Internet is here to stay. Print buyers want to leverage printed materials to ensure that their customers have the ability to view the content whatever the medium.
Click <a href="http://www.flippubs.com/publication?i=81389" target="_blank">Here</a> to view an example
                </p>
        </div> 
        <div class="col-md-7" >
            <iframe width="560" height="315" src="http://www.youtube.com/embed/U-D3cvaJEvE" frameborder="0" allowfullscreen></iframe>

        </div>
    </div>
</div>