<div class="back-section1">
    <div class="container-fluid max vert-pad">
        <div class="col-md-4" >
            <img <%= link_to image_tag('litho02.jpg'), class: "img-responsive"%>
        </div>
        <div class="col-md-8" >
            <h1>Lithographic Printing</h1>
            <p>
                        Ricter Web printing is primarily a coldset web printer, however Ricter Web is far more than just web printing.
We have fantastic design talent in our design department, a five colour sheetfed press, a well equipped bindery department and a dedicated shipping company, CST Logistics.
Beyond our proverbial four walls we have numerous service providers that we cooperate with to bring to you a an even wider gamut of professional services.
                </p>
        </div>    

    </div>
</div>