s
<div class="container-fluid max">
    

<!-- this is the body text -->
    <div class="col-md-12" >
        <h1>Ricter Web Printing</h1>
        <div class="col">
                <p>
                    Ricter Web Printing is a family owned and operated business established in 1975.
                    We are proud of our "All Star Cast" of professionals who are always eager to provide the customer with a 5-star performance.
                    Epic quality and outstanding service are the primary objectives involved in meeting the printing requirements of a fast-paced high-tech marketplace!
                    Our clients are treated with the respect and integrity they deserve. From start to finish, customer satisfaction is paramount.
                </p>  
        </div>
    </div>

    <!-- this is the two items at the bottom below the about text. -->
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-2">
          <div class="well well-lg well-rwp">
                <iframe marginheight="0" marginwidth="0" name="wxButtonFrame" id="wxButtonFrame" height="168" src="http://btn.weather.ca/weatherbuttons/template7.php?placeCode=CAON0081&category0=Cities&placeCode1=CAON0383&category1=&placeCode2=CAON0109&category2=&placeCode3=CAON0289&category3=Cities&placeCode4=CAON0696&category4=&containerWidth=180&btnNo=&backgroundColor=blue&multipleCity=1&citySearch=0&celsiusF=C" align="top" frameborder="0" width="180" scrolling="no" allowTransparency="true"></iframe>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-2">
          <div class="well well-lg well-rwp">
                <span class="glyphicon glyphicon-briefcase glyph-large" aria-hidden="true"></span><br>
                Start a Career with RWP!
          </div>
        </div>
    </div>
</div>
