<div class="back-section1">
    <div class="container-fluid max vert-pad">
        <div class="col-md-4" >
            <img <%= link_to image_tag('web002-72.jpg'), class: "img-responsive"%>
        </div>
        <div class="col-md-8" >
            <h1>Coldset Web Printing</h1>
            <p>
                        Coldset web printing used to mean lots of poor-quality product — fast. At Ricter Web, coldset web is redefined to the point that it is not recognizable. Our quality is outstanding, with resolution that used to only be possible on tightly controlled sheetfed presses.
Our web presses are outfitted with numerous quality-enhancing options to control the print process more closely. This is backed up by a state-of-the-art prepress department. This ground-breaking technology continually adjusts all parameters to meet our high standards prior to going to plate.
Our plates are imaged with high-resolution thermal laser using stochastic dots, which allow phenomenal clarity and detail rendition, second to nothing in the industry.
Our web presses are configured to offer tremendous scalability suitable for everything from a four-page flyer, to thick multi-page sections. We have a theoretical maximum of 5 rolls of paper through 5 presses simultaneously, to give up to 80 full-colour pony (demi-tab, slightly smaller than office letter size) pages in one section. The power is all yours at Ricter Web.
Talk to a sales person to today for all your web printing needs.
                </p>
        </div>    

    </div>
</div>